body {
    background: #e5e5e5;
    line-height: 50%;
}

#map, #mapold {
    width: 2426px;
    height: 1615px;
    position: absolute;
}

#mapold {
    opacity: 0.05;
}

path, line {
    fill: none;
}